<launch>
    
    <node pkg="move_base" type="move_base" name="move_base" respawn="false" output="screen" >
    	  <rosparam file="$(find thesis)/params/pioneer/costmap_common_params_pioneer.yaml" command="load" ns="local_costmap" />
	  <rosparam file="$(find thesis)/params/pioneer/costmap_common_params_pioneer.yaml" command="load" ns="global_costmap" />
	  <rosparam file="$(find thesis)/params/pioneer/local_costmap_params_pioneer.yaml" command="load" />
	  <rosparam file="$(find thesis)/params/pioneer/global_costmap_params_pioneer.yaml" command="load" />
	  <rosparam file="$(find thesis)/params/pioneer/base_local_planner_params_pioneer.yaml" command="load" />
	  <!--param name="base_global_planner" type="string" value="navfn/NavfnROS" /-->
	  <param name="oscillation_timeout" value="5.0"/>
	  <param name="controller_frequency" type="double" value="20.0" />
	  <!--Controller frequency needs to be at least 20! Otherwise we get strange behavior.-->
	  <!--param name="planner_frequency" type="double" value="0.1"/-->
	  <!--If the planner frequency is set, the planner will *only* run at that rate. 
	      It can cause erratic behavior between two timesteps, if the goal changes meanwhile and there is no plan.-->
	  <!--param name="planner_patience" type="double" value="5.0"/-->
	  <param name="controller_patience" type="double" value="2.0"/>
    </node>	  
    
</launch>