<launch>
    
    <node pkg="move_base" type="move_base" name="move_base" respawn="false" output="screen" >
    	  <rosparam file="$(find sa_project)/params/scout/costmap_common_params2.yaml" command="load" ns="local_costmap" />
	  <rosparam file="$(find sa_project)/params/scout/costmap_common_params2.yaml" command="load" ns="global_costmap" />
	  <rosparam file="$(find sa_project)/params/scout/local_costmap_params.yaml" command="load" />
	  <rosparam file="$(find sa_project)/params/scout/global_costmap_params.yaml" command="load" />
	  <rosparam file="$(find sa_project)/params/scout/base_local_planner2_params.yaml" command="load" />
	  <param name="oscillation_timeout" value="5.0" />
    </node>	  
    
</launch>