<launch>
    
    <param name="/use_sim_time" value="true"/>
    
    <node pkg="thesis" type="get_pose.py" name="posture_publisher"/>
    
    <node pkg="tf" type="static_transform_publisher" name="static_tf_laser" args="0 0 0 0 0 0 base_laser_link laser 100"/>
    
    <node pkg="map_server" type="map_server" name="map_server" args="$(find thesis)/world/map_8floor.yaml"/>
    
    <!--include file="$(find thesis)/launch/amcl_stage.launch"/-->
    
    <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false" />
    
    <include file="$(find thesis)/launch/navigation_pioneer_stage.launch"/>
    
    <node pkg="stage_ros" type="stageros" name="pioneer_stage" args="$(find thesis)/world/vdg_pilot.world" respawn="false">
      <param name="base_watchdog_timeout" value="0.2"/>
      <!--remap from="base_laser_link" to="laser"/-->
      <remap from="base_footprint" to="base_link"/>
    </node>
    
</launch>